<!--添加头部-->
<!--注意这里路径的使用，同级不加/-->
<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
           <h1>Welcome to YelpCamp!</h1>
           <p>View our hand-picked campgrounds from all over the world</p>
           <p>
               <a class="btn btn-primary btn-large" href="/campgrounds/new">add new campground</a>
           </p>
       </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;" > 
        <% campgrounds.forEach(function(campground){%>
        <!--页面是md时每个占3，页面是sm时每个占3,页面是超级小时每个占12（默认）-->
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name%></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

</div>
<!--添加尾部-->
<% include partials/footer %>